inputfiles
current
cmunipack*
*.pyc
.idea/**/*
**/.ipynb_checkpoints/**/*
transfer/
secrets.py
support/vast*/**
site/vsx/static/**
!site/vsx/static/.gitkeep
site/vsx/public/**
!site/vsx/public/.gitkeep
# exception to the rule
!somefolder/.gitkeep
support/**
