inputfiles
current
cmunipack*
*.pyc
process*.log
.idea/**/*
**/.ipynb_checkpoints/**/*
transfer/
secrets.py
support/vast*/**
site/vsx/static/**
!site/vsx/static/.gitkeep
site/vsx/public/**
!site/vsx/public/.gitkeep
# exception to the rule
!somefolder/.gitkeep
support/**
venv
/support/vast-dev/
/results/

/.venv/
/.vscode/
/tests/data/aavso_out.txt
/tests/data/outliers/ASASSN-V_J110351.21-544047.3_light.png
/vsx_last_modified.txt
/vsx.dat
/vsx_catalog.bin
