[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nbconvert = "*"
nbformat = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
nose2 = "*"
notebook = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
coverage = "*"

[packages]
appnope = "*"
astropy = ">=4.0"
astroquery = "*"
attrs = "*"
backcall = "*"
beautifulsoup4 = "*"
bleach = "*"
certifi = "*"
chardet = "*"
cycler = "*"
decorator = "*"
defusedxml = "*"
entrypoints = "*"
gatspy = "*"
html5lib = "*"
idna = "*"
importlib-metadata = "*"
jedi = "*"
jinja2 = "*"
jsonschema = "*"
keyring = "*"
kiwisolver = "*"
markupsafe = "*"
matplotlib = "*"
mistune = "*"
more-itertools = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
photutils = "*"
pickleshare = "*"
pillow = "*"
pluggy = "*"
prometheus-client = "*"
prompt-toolkit = "*"
ptyprocess = "*"
py = "*"
pygments = "*"
pyparsing = "*"
pyrsistent = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
requests = "*"
scipy = ">=1.3.1"
seaborn = "*"
send2trash = "*"
soupsieve = "*"
terminado = "*"
testpath = "*"
toml = "*"
tornado = "*"
tqdm = "*"
traitlets = "*"
urllib3 = "*"
wcwidth = "*"
webencodings = "*"
zipp = "*"

[requires]
python_version = "3.7"
